/*function: reset css*/

/*
    选择器1,选择器2表示同时使用多个选择器
    * 表示所有的伪元素
    ::before 表示在所有元素前添加
    ::after 表示在所有的元素后添加
*/
*,
::before,
::after{
    /*
    element,element表示同时选择多个元素，
    * 表示选择所有元素，
    :before 表示在元素内容前插入，
    :after 表示在所有元素内容之后插入
    元素:before ==  类名::before, 为了区分伪元素和伪类，给伪类添加双冒号*/
    margin:0;
    padding:0;
    /*默认清除webkit点击高亮的效果，透明的*/
    -webkit-tap-highlight-color: transparent;
    /*设置所有的以边框开始计算宽度，默认是以内容开始计算宽度*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-size:16px;
    /*采用微软雅黑字体，如果没有，采用移动终端默认的字体*/
    font-family:"Microsoft Himalaya", sans-serif;
    color: #333;
}
a{
    color: #333;
    /*清除文本的下滑线*/
    text-decoration: none;
}

ul,ol{
   list-style: none;
}
input{
    /*重置表单样式*/
    border:none;
    outline:none;
    /*清除移动终端默认的表单样式*/
    -webkit-appearance: none;
}

.f_left{
    float: left;
}

.f_right{
    float: right;
}

.clearfix::before,
.clearfix::after{
    /*清除浮动，清除所有内容*/
    content: '';
    height:0;
    /*line-height表示行高*/
    line-height:0;
    display: block;
    visibility: hidden;
    clear: both;
}

/*定义一些工具类，方便使用
